<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main">
  <div class="content">
    <div class="intro">
      <h1>Random Password</h1>
      <p>Random password is a free online tool for generating secure passwords.</p>
    </div>
    <form [formGroup]="form" (ngSubmit)='generate()'>
      <div class="box">
        <label>Length (Max: 512)</label>
        <input id="length" name="length" formControlName="length" [(ngModel)]="defaultLength" type="number">
      </div>
      <label class="box checkbox-cover">
        Include Characters
        <input type="checkbox" name="characters" formControlName="characters" [(ngModel)]="defaultCharacters" id="characters">
        <span class="checkmark"></span>
      </label>
      <label class="box checkbox-cover">
        Include Numbers
        <input type="checkbox" name="numbers" formControlName="numbers" [(ngModel)]="defaultNumbers" id="numbers">
        <span class="checkmark"></span>
      </label>
      <label class="box checkbox-cover">
        Include lowercase characters
        <input type="checkbox" name="lowercase" formControlName="lowercase" [(ngModel)]="defaultLowercase" id="lowercase">
        <span class="checkmark"></span>
      </label>
      <label class="box checkbox-cover">
        Include uppercase characters
        <input type="checkbox" name="uppercase" formControlName="uppercase" [(ngModel)]="defaultUppercase" id="uppercase">
        <span class="checkmark"></span>
      </label>
      <button type="submit">Generate</button>
    </form>
    <div (click)="copy()" *ngIf="result !== ''" class="box p-3 mx-auto my-3 overflow-auto cursor-copy">
      <p style="word-wrap: break-word" class="text-left">{{result}}</p>
    </div>
  </div>
  <app-footer></app-footer>
</div>
