<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main">
  <div class="content">
    <div class="intro">
      <h1>Text Reverse</h1>
      <p>Text Lowercase is a free tool to reverse a text.</p>
    </div>
    <form [formGroup]="form">
      <div class="box">
        <textarea class="w-full h-96 p-2 outline-none" maxlength=5000 name="text" id="text" formControlName="text" placeholder="Paste in your text ... (up to 5000 characters)"></textarea>
      </div>
      <button (click)="reverse()" type="submit">Count</button>
      <div class="box">
        <p>{{result}}</p>
      </div>
    </form>
  </div>
  <app-footer></app-footer>
</div>
