<app-header></app-header>
<app-sidebar [isVisible]="false"></app-sidebar>
<div class="main">
  <div class="content">
    <h1>About</h1>
    <h2>What is W3Tool?</h2>
    <p>W3Tool is a free online platform where you can find any online tool you need.<br>We offer tools like calculators, converters, pickers and many more.<br>Every month there will be at least 30 new tools available.</p>
    <h2>Easy to use</h2>
    <p>All the tools we create follow specific requirements to make them as easy to use as possible.</p>
    <h2>Who we are</h2>
    <p>We are a small team of professional web developers who set out to create a free, ad-supported platform where <b>all</b> online tools are available.</p>
  </div>
  <app-footer></app-footer>
</div>

