<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main">
  <div class="content">
    <div class="intro">
      <h1>Base64 Encoder and Decoder</h1>
      <p>The Base64 Encoder and Decoder is a free online tool for encoding a text to base64 or decoding base64 to a text.</p>
    </div>
    <form [formGroup]="form">
      <div class="box">
        <textarea class="w-full h-96 p-2 outline-none" name="text" id="text" formControlName="text" placeholder="Paste in your text ..."></textarea>
      </div>
      <button (click)="decoding()" type="submit">Decoding</button>
      <div class="box">
        <p>{{result}}</p>
      </div>
    </form>
  </div>
  <app-footer></app-footer>
</div>
