<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main">
  <div class="content">
    <div class="intro">
      <h1>Contact Us</h1>
      <p>Do you have questions, requests or suggestions for improvement? We are at your disposal by e-mail or telephone.</p>
    </div>
    <div class="box">
      <ul>
        <li>E-Mail: business.lucakammerer@gmail.com</li>
        <li>Phone: +49 15908464906</li>
        <li>Address:<br>Luca Kammerer<br>Merkstraße 8<br>Renchen-Ulm, 77871<br>Germany</li>
      </ul>
    </div>
  </div>
  <app-footer></app-footer>
</div>

