<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="main left-0">
  <div class="content text-center">
    <div class="intro">
      <h1>Color Picker</h1>
      <p>Color Picker is a free online tool for picking a color and get the most common color formats.</p>
    </div>
    <div class="box color-wrapper">
      <app-color-picker-palette [hue]="hue" (color)="color = $event"></app-color-picker-palette>
      <app-color-picker-slider
        (color)="hue=$event"
        style="margin-left:16px"
      ></app-color-picker-slider>
    </div>
    <div class="box input-wrapper">
      <ul>
        <li>RGB: {{color?.[0]}}</li>
        <li>HEX: {{color?.[1]}}</li>
        <li>CMYK: {{color?.[2]}}</li>
        <li>HSV: {{color?.[3]}}</li>
      </ul>
      <div
        class="color-div"
        [ngStyle]="{'background-color': color?.[1] || 'white'}"
      ></div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
