<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main">
  <div class="content">
    <div class="intro">
      <h1>Binary Converter</h1>
      <p>Binary Converter is a free online tool for converting binary numbers to decimal and decimal numbers to binary.</p>
    </div>
    <form [formGroup]="form" (ngSubmit)='convert()'>
      <div class="box">
        <label>Binary to Decimal</label>
        <input id="binary" name="binary" formControlName="binary" type="number">
        <div class="text-center" id="binary-answer">{{decimal}}</div>
      </div>
      <div class="box">
        <label>Decimal to Binary</label>
        <input id="decimal" name="decimal" formControlName="decimal" type="number">
        <div class="text-center" id="decimal-answer">{{binary}}</div>
      </div>
      <input type="submit" value="Calculate">
    </form>
  </div>
  <app-footer></app-footer>
</div>
