<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main">
  <div class="content">
    <div class="intro">
      <h1>URI Encoder</h1>
      <p>URI Encoder is a free online tool for encoding a text to an URI.</p>
    </div>
    <form [formGroup]="form">
      <div class="box">
        <textarea class="w-full h-96 p-2 outline-none" name="text" id="text" formControlName="text" placeholder="Paste in your text ..."></textarea>
      </div>
      <button (click)="encoding()" type="submit">Encode</button>
      <div class="box">
        <p>{{result}}</p>
      </div>
    </form>
  </div>
  <app-footer></app-footer>
</div>
