<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="main">
  <div class="content">
    <div class="intro">
      <h1>Hexadecimal Converter</h1>
      <p>Hexadecimal Converter is a free online tool for converting binary numbers to hexadecimal or hexadecimal numbers to binary.</p>
    </div>
    <form [formGroup]="form" (ngSubmit)='convert()'>
      <div class="box">
        <label>Hexadecimal to Decimal</label>
        <input id="hexadecimal" name="hexadecimal" formControlName="hexadecimal" type="number">
        <div class="text-center" id="hexadecimal-answer">{{decimal}}</div>
      </div>
      <div class="box">
        <label>Decimal to Hexadecimal</label>
        <input id="decimal" name="decimal" formControlName="decimal" type="number">
        <div class="text-center" id="decimal-answer">{{hex}}</div>
      </div>
      <button type="submit">Calculate</button>
    </form>
  </div>
  <app-footer></app-footer>
</div>
